/* |--------------------------------------------------------------------------
| Tailwind CSS Directives & Global Reset
|--------------------------------------------------------------------------
| This file is kept minimal, focused only on core setup and global imports.
*/



@import "./styles/animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #83274e; /* Deep Berry/Wine */
  --color-accent: #d4af37; /* Gold/Bronze */
  --color-background: #fdfdfd;
  --color-text: #333333;
}
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* Base HTML/Body styles */
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  overflow-x: hidden;
}
